.home-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10vh;
  gap: 1rem;
  
}

.social-icon {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.social-container {
  width: 200px;
  display: flex;
  justify-content: space-around;
}
